
<div class="container">
  <hr>
  <label class="center-block text-center">LGD</label>
  <hr>
  <mat-vertical-stepper linear #stepper>

    <mat-step>

      <ng-template matStepLabel>Initial Details</ng-template>

      <form [formGroup]="lgdDetailsGroup">

        <div formGroupName="rating">
        <!--<mat-radio-group class="example-full-width-center">-->
          <!--<mat-radio-button value="1" class="example-half-width" (change)="radioPressed=true" formControlName="startNew">Start a new rating process </mat-radio-button>-->
          <!--<mat-radio-button value="2" class="example-half-width" (change)="radioPressed=true" formControlName="viewExisting">View an existing rating</mat-radio-button>-->
        <!--</mat-radio-group>-->
        </div>

        <div *ngIf="radioPressed">

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Rated By" formControlName="ratedBy">
        </mat-form-field>
        <mat-form-field class="example-half-width">
          <input matInput placeholder="Borrower ID" formControlName="borrowerId">
        </mat-form-field>
        <mat-form-field class="example-half-width">
          <input matInput placeholder="Borrower Name" formControlName="borrowerName">
        </mat-form-field>

        </div>

        <div *ngIf="!crossCollateralization" formFroupName="crossCollaterlize">

          <mat-form-field class="example-half-width">
            <input matInput placeholder="Loan Id" formControlName="loanId">
          </mat-form-field>
          <mat-form-field class="example-half-width">
            <input matInput placeholder="Loan Name" formControlName="loanName">
          </mat-form-field>

        </div>

        <div *ngIf="radioPressed">
        <!--<mat-form-field>-->
        <mat-checkbox formControlName="crossCollateralization" [checked]="crossCollateralization" (change)="crossCollateralization=true">Cross Collateralization</mat-checkbox>
        <!--</mat-form-field>-->
        </div>


      </form>
    </mat-step>

    <!--<mat-step>-->
      <!--<ng-template matStepLabel>Deal Score</ng-template>-->
      <!--<form [formGroup]="lgdDealScoreGroup">-->
        <!--<mat-form-field class="example-half-width">-->
          <!--<input matInput placeholder="EAD" formControlName="EAD">-->
        <!--</mat-form-field>-->

        <!--<mat-form-field class="example-full-width">-->
          <!--<input matInput placeholder="Base LGD" formControlName="Base LGD">-->
        <!--</mat-form-field>-->

        <!--<mat-form-field class="example-half-width">-->
          <!--<input matInput placeholder="Cash and securities" formControlName="cashAndSec">-->
        <!--</mat-form-field>-->

        <!--&lt;!&ndash;<mat-form-field class="example-half-width">&ndash;&gt;-->
        <!--&lt;!&ndash;<input matInput placeholder="EAD" formControlName="EAD">&ndash;&gt;-->
        <!--&lt;!&ndash;</mat-form-field>&ndash;&gt;-->
      <!--</form>-->
      <!--&lt;!&ndash;<app-tab (tabsSubmitted)="onTabsSubmitted($event)" *ngIf="formService.selectedForm"></app-tab>&ndash;&gt;-->
    <!--</mat-step>-->

    <!--<mat-step>-->
    <!--<ng-template matStepLabel>Table</ng-template>-->
    <!--<app-table *ngIf="formService.showTableAndGraph"></app-table>-->
    <!--</mat-step>-->

    <!--<mat-step>-->
    <!--<ng-template matStepLabel>Graph</ng-template>-->
    <!--<app-graph *ngIf="formService.showTableAndGraph"></app-graph>-->
    <!--<div>-->
    <!--<button mat-button class="btn btn-primary" (click)="navigateToHomePage()">Done</button>-->
    <!--<button mat-button class="btn btn-primary" style="margin-left: 15px" (click)="deleteForm(stepper)">Reset</button>-->
    <!--</div>-->
    <!--</mat-step>-->

  </mat-vertical-stepper>

  <mat-vertical-stepper>
    <mat-step>
    <ng-template matStepLabel>Deal Score</ng-template>
    <form [formGroup]="lgdDealScoreGroup">
    <mat-form-field class="example-half-width">
    <input matInput placeholder="EAD" formControlName="EAD">
    </mat-form-field>

    <mat-form-field class="example-full-width">
    <input matInput placeholder="Base LGD" formControlName="Base LGD">
    </mat-form-field>

    <mat-form-field class="example-half-width">
    <input matInput placeholder="Cash and securities" formControlName="cashAndSec">
    </mat-form-field>

    <!--<mat-form-field class="example-half-width">-->
    <!--<input matInput placeholder="EAD" formControlName="EAD">-->
    <!--</mat-form-field>-->
    </form>
    <!--<app-tab (tabsSubmitted)="onTabsSubmitted($event)" *ngIf="formService.selectedForm"></app-tab>-->
    </mat-step>
  </mat-vertical-stepper>
</div>
