<form [formGroup]="existingRatingGroup" (ngSubmit)="onExistingFormSubmit()">
  <div class="container">
    <mat-form-field class="example-half-width">
      <mat-select placeholder="Borrower ID" formControlName="borrowerId"
                  (selectionChange)="onUpdateBorrowerId($event.value)">
        <mat-option>Please select borrowerId</mat-option>
        <mat-option *ngFor="let borrower of borrowers" [value]="borrower">
          {{ borrower.borrowerId }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="!existingRatingGroup.get('borrowerId').value">
        Borrower Id is required
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-half-width">
      <input matInput placeholder="Borrower Name" formControlName="borrowerName" [value]="selectedBorrowerName">
    </mat-form-field>

    <div *ngIf="showLoans">

      <mat-form-field class="example-half-width" formGroupName="loans">
        <mat-select placeholder="Loan ID" formControlName="loanId"
                    (selectionChange)="onUpdateLoan($event.value)">
          <mat-option>Please select a loan</mat-option>
          <mat-option *ngFor="let loan of loans" [value]="loan">
            {{ loan }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="!existingRatingGroup.get('loans.loanId').value">
          Loan id is required
        </mat-error>
      </mat-form-field>

      <mat-checkbox class="example-full-width"
                    [checked]="isDefaultBorrowerDeal"
                    (change)="showLatestDealScore()">Cross Collateralization</mat-checkbox>
    </div>

    <br><br>
    <button mat-button matStepperNext class="btn btn-primary" type="submit" [disabled]="!existingRatingGroup.valid">Next</button>
  </div>
</form>
