<div class="container" appAuthentication>
  <hr>
  <label class="center-block text-center">Borrower/Loan PD Questionnaire</label>
  <hr>

  <mat-vertical-stepper linear #stepper>

    <mat-step [stepControl]="formDetailsSubmitted" [editable]="formService.isEditable">
      <ng-template matStepLabel>Account officer and Borrower information
      </ng-template>
      <app-details (detailsFormSubmitted)="onDetailsFormSubmitted($event)"></app-details>
    </mat-step>

    <mat-step [stepControl]="tabsSubmitted" [editable]="formService.isEditable">
      <ng-template matStepLabel>USPB Questionnaire </ng-template>
      <app-tab (tabsSubmitted)="onTabsSubmitted($event)" *ngIf="formService.selectedForm"></app-tab>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Assessment Results
        <mat-spinner *ngIf="formService.showSpinner" diameter="25" strokeWidth="4"></mat-spinner>
      </ng-template>
      <app-table *ngIf="formService.showTableAndGraph"></app-table>
      <div>
        <button mat-button class="btn btn-primary" (click)="onFormSubmit()">Submit</button>
        <button mat-button class="btn btn-primary" style="margin-left: 15px" (click)="resetStepper(stepper)">Reset</button>
      </div>
    </mat-step>

  </mat-vertical-stepper>
</div>
