<div class="customBackground">
  <hr>
  <span class="center-block panel-title"> Assessment score: {{  this.formService.pdScore }} </span>
  <span class="center-block panel-title"> Updated rating: {{  this.formService.formSubmission.updatedRating }} </span>
  <span class="center-block panel-title"> PD result: {{  this.formService.formSubmission.pdScore }} </span>
  <hr>
</div>
<table mat-table [dataSource]="this.formService.tableData" class="mat-elevation-z8">
    <ng-container matColumnDef="Question" sticky>
      <th *matHeaderCellDef> Question </th>
      <td *matCellDef="let element"> {{element.questionText}} </td>
    </ng-container>

    <ng-container matColumnDef="Selected Answer" sticky>
      <th *matHeaderCellDef> Selected Answer </th>
      <td *matCellDef="let element"> {{element.answerText}} </td>
    </ng-container>

    <ng-container matColumnDef="Category Weight" sticky>
      <th *matHeaderCellDef> Category Weight </th>
      <td *matCellDef="let element"> {{element.categoryWeight}} </td>
    </ng-container>

    <ng-container matColumnDef="Question Weight" sticky>
      <th *matHeaderCellDef> Question Weight </th>
      <td *matCellDef="let element"> {{element.questionWeight}} </td>
    </ng-container>

    <ng-container matColumnDef="Selected Answer Score" sticky>
      <th *matHeaderCellDef> Selected Answer Score </th>
      <td *matCellDef="let element"> {{element.answerScore}} </td>
    </ng-container>

    <ng-container matColumnDef="Effective Score" sticky>
      <th *matHeaderCellDef> Effective Score </th>
      <td *matCellDef="let element"> {{element.effectiveScore}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" sticky></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
<hr>

