.example-container {
  height: 400px;
  width: 550px;
  overflow: auto;
}

table {
  width: 100%;
}

td{
  border: 1px solid #e0e0e0;
  padding: 8px;
  font-size: 16px;
}

th{
  border: 1px solid #e0e0e0;
  padding: 8px;
  font-size: 17px;
  font-weight: bold;
}

.mat-table-sticky{
  border-right: 1px solid #e0e0e0;
  padding-left: 8px;

}

.center-block {
  display: inline-block;
  width: 33%;
  margin-right: auto;
  text-align: center;
  font-weight: bold;
  margin-left: auto;
}

.customBackground{
  background-color: blanchedalmond;
}

.mat-header-cell{
  font-size:16px;
  font-weight: 900;
}

.cell{
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
