<form [formGroup]="dealScoreGroup" (ngSubmit)="onDealFormSubmit()" >
  <div class="leftDiv" id="content" #content>
    <label class="example-full-width" style="font-size: 16px; font-weight: bold; margin-top: 6px;">Post New Transaction</label>
    <br><br>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Base LGD" formControlName="baseLgd" [value]="lgdService.dealScoreSubmittionDetials.baseLgd + '%'">
    </mat-form-field>

    <mat-form-field class="example-full-width" formGroupName="eadGroup">
      <input matInput placeholder="EAD" formControlName="EAD" type="number" (input)="onCasdOrSecChange()">
    </mat-form-field>
    <mat-error *ngIf="!dealScoreGroup.get('eadGroup.EAD').valid &&
      dealScoreGroup.get('eadGroup.EAD').touched">
      EAD is required
    </mat-error>

    <mat-form-field class="example-full-width" formGroupName="eadGroup">
      <input matInput placeholder="Cash and securities" formControlName="CashAndSec" type="number" (input)="onCasdOrSecChange()">
    </mat-form-field>
    <mat-error *ngIf="!dealScoreGroup.get('eadGroup.CashAndSec').valid &&
      dealScoreGroup.get('eadGroup.CashAndSec').touched">
      Cash and securities is required
    </mat-error>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Modified Lgd" formControlName="modifiedLgd" [value]="modifiedLgd + '%'">
    </mat-form-field>

    <mat-form-field *ngFor="let question of lgdService.dealScoreQuestions" [floatLabel]="question.questionContent" class="example-full-width" formGroupName="questionsGroup">
      <mat-select [placeholder]="question.questionContent"
                  [formControlName]="'q' + question.id"
                  (selectionChange)="updateAdjustedLgd($event.value,question)">
        <mat-option style="font-size: 14px; font-weight: bold; font-style: italic;">{{ question.questionContent }}</mat-option>
        <mat-option *ngFor="let answer of question.answerList" [value]="answer">
          {{  answer.answerContent }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="!dealScoreGroup.get('questionsGroup.q' + question.id).value">
        Please choose an answer
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" *ngIf="dealScoreGroup.get('eadGroup.CashAndSec').valid && dealScoreGroup.get('questionsGroup').valid">
      <input matInput placeholder="Adjusted Lgd" formControlName="adjustedLgd" [value]="adjustedLgd + '%'">
    </mat-form-field>

    <div class="example-full-width" *ngIf="dealScoreGroup.get('eadGroup.CashAndSec').valid && dealScoreGroup.get('questionsGroup').valid">
      <mat-checkbox
        formControlName="lgdOverride"
        [checked]="lgdOverride"
        (change)="onLgdOverride()">Override LGD</mat-checkbox>
    </div>

    <div *ngIf="lgdOverride" formGroupName="overrideLgdGroup" class="example-full-width">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Lgd Override(%)" type="number" formControlName="overrideLgd" [value]="overrideLgd"
               (input)="onOverrideLgdChange()">
        <!--<span matPrefix>%</span>-->
        <mat-error *ngIf="!dealScoreGroup.get('overrideLgdGroup.overrideLgd').valid &&
      dealScoreGroup.get('overrideLgdGroup.overrideLgd').touched">
          Override value is required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Override Reason" formControlName="overrideReason">
        <mat-error *ngIf="!dealScoreGroup.get('overrideLgdGroup.overrideReason').valid &&
      dealScoreGroup.get('overrideLgdGroup.overrideReason').touched">
          Override reason is required
        </mat-error>
      </mat-form-field>
    </div>

    <mat-form-field class="example-full-width" *ngIf="dealScoreGroup.get('eadGroup.CashAndSec').valid && dealScoreGroup.get('questionsGroup').valid">
      <input matInput placeholder="Final Lgd" formControlName="finalLgd" [value]="finalLgd + '%'">
    </mat-form-field>

    <div class="example-full-width">
      <mat-checkbox
        formControlName="lockForComittee"
        [checked]="lockForComittee"
        (change)="updateLockCommittee()">Lock for committee</mat-checkbox>
    </div>

  </div>
  <div class="rightDiv">
    <label class="example-full-width" style="font-size: 16px; font-weight: bold; margin-top: 6px;">Pre New Transaction</label>
    <br><br>
    <app-existing-deal-score></app-existing-deal-score>
  </div>
  <br><br>
  <div class="buttonsDiv">
    <button mat-button matStepperNext class="btn btn-primary" type="submit" [disabled]="!dealScoreGroup.valid">Save</button>
  </div>
</form>
